
.sidebar-content .show{
    margin-left: 0px;
    animation: animationMenuOpen 1s !important;
}
 
@keyframes animationMenuOpen {
    from {
      margin-left: -230px;
      display: none;
    }
    to {
      margin-left: 0px;
      display: block;
    }
  }

  .sidebar-content .notshow{
    margin-left: -230px;
    animation: animationMenuClose 1s;
}

@keyframes animationMenuClose {
    from {
      margin-left: 0px;
      @media (min-width: 750px) {
        display: block;
      }
    }
    to {
      margin-left: -230px;
      @media (min-width: 750px) {
        display: none;
      }
    }
  }

