.header-component {
  position: sticky;
  left: 0px;
  top: 0px;
  z-index: 4;
  .containOne {
    height: 55px;
  }
  .containTwo {
    height: 40px;
  }
}

.page-layout-component {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  .content-root {
    display: flex;
    position: absolute;
    .page-content {
      width: calc(100%);
      overflow-y: auto;
      z-index: 1;
    }
    width: 100%;
    top: 95px;
    height: calc(100% - 95px);
    overflow: auto;
    .sidebar-content {
      height: 100%;
      width: 100%;
      max-width: 230px;
      z-index: 999;
      @media (max-width: 750px) {
        position: fixed;
        background-color: #ffffff;
        height: calc(100% - 75px);
      }
      &.show {
        margin-left: 0px;
        animation: animationMenuOpen 1s !important;
        @keyframes animationMenuOpen {
          from {
            margin-left: -230px;
            display: none;
          }
          to {
            margin-left: 0px;
            display: block;
          }
        }
      }
      &.notshow {
        margin-left: -230px;
        animation: animationMenuClose 1s;
        @keyframes animationMenuClose {
          from {
            margin-left: 0px;
            @media (min-width: 750px) {
              display: block;
            }
          }
          to {
            margin-left: -230px;
            @media (min-width: 750px) {
              display: none;
            }
          }
        }
      }
    }
  }
  /**/
}

.side-bar-component {
  width: 100%;
  top: 0px;
  height: 100%;
}

#table-component {
  .table-contain {
    width: 100%;
    overflow-y: auto;
    white-space: nowrap;
    max-height: 60vh;
    .table-boots {
      thead {
        left: 0;
        z-index: 10;
        position: sticky;
        top: 0;
        tr {
          background-color: #3c3c3c;
          color: #FFFFFF;
        }
      }
    }
    .content-loader{
      position: sticky;
      padding-bottom: 15px;
      top: 0px;
      left: 0px;
      justify-content: center;
      align-items: center;
      display: flex;
    }
  }
}
